body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gmeTLe .item-content {
  flex-grow: 0 !important;
  padding: 10px  !important;
}

.col{
  padding: 0!important;
}
.col-md-auto{
  padding: 0!important;
}

.rounded-circle {
  border-radius: 50%!important;
  background-color: rebeccapurple;
  width: 45px;}